<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form method="POST">
            <button name="foward" value="foward">Foward</button>
        </form>
        <form method="POST">
            <button name="Right" value="Right">Right</button>
        </form>
        <form method="POST">
            <button name="Left" value="Left">Left</button>
        </form>
        <form method="POST">
            <button name="Back" value="Back">Back</button>
        </form>
    </body>
</html>